:root{
  --headerColor: #121212;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* navbar */
.btn {
  color: #fff;
  border-width: 0px;
  background-color: #000;
}

.btn-outline-success:hover {
  background-color: #fff;
  color: #000;
}

.navbar-expand-lg .navbar-collapse {
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 700;
  color:rgb(196, 196, 196);
}

.nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  background-color: #20282b;
  color:#fff;
  text-transform: uppercase;
}

  .navbar-brand img {
    max-width: 120px;
    color: #fff
  }

  .navbar-brand p {
    color:#fff;
  }
/* fin navbar */

/* body */
.container {
  max-width: 100%;
  background-color: #000;
  color: #fff;
}

  h1{
    font-size: 2em;
  }
 
  div.row {
      padding: 10px;
      border: 1px solid rgb(0, 0, 0);
      background-color: #20282b;
      border-radius: 10px;
    }
  
  div.row img {
    align-items: center;
  }  

  div[class^="col"]{
      padding: 10px;
      background-color:#20282b;
  }

.nav-link a {
color: #fff;
}

.container h1, h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  }

.footer {
align-items: center;
justify-content: center;
}

/* texto sobre img en Categorias */

#content_div_one_photo {
  border-radius: 20px;
  padding: 5px;
}

#padre {
  position: relative;    
  display: inline-block; 
  justify-content: center;
}

.card-title {
  position: static;   
  bottom: 0;
  right: 1rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
/* HEADER DE EMMANUEL */
header {
  position: relative;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--headerColor);
  padding: 10px;
}
.navbar {
  display: flex;
  margin-right: 10px;
}
.nav-link {
  display: inline-block;
  font-size: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 64px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
}

nav a {
  padding-right: 10px;
}
/*Selector mas especifico,de otra manera bootstrap usa
color azul para :hover sobre un a*/
.contenedor_nav nav>a:hover {
  transform: translateY(-5px);
  transition: 500ms;
  color: #fff;
}
/* FIN HEADER EMMANUEL */
/* footer */
#idfooter {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 15px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
  height: 75px;
  margin-top: 0;
  /*10px;*/
}
#titulo-logo:hover{
  text-decoration: none;
  color: white;
}
#titulo-logo h2{
  font-size: 24px;
  font-weight: bold;
}
/* ESTILOS PARA PEDIDOS DE API */
audio{
  display: block;
  width: 100%;
}
.pista img{
  width: 100%;
}
.contenedorDeAudios{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: #191b19;
  border-radius: 10px;
  padding-bottom: 20px;
  height: 100%;
}
.pista{
  background-color: #262a26 ;
  border-radius: 10px;
  min-width: 200px;
  max-width: 250px;
  margin: 5px auto;
}
.titulo-cancion{
  margin-bottom: 0;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: white;
}
.categoria{
  display: flex;
  flex-direction: column;
}
.titulo-categoria{
  text-align: center;
  cursor: pointer;
}
/*FIN ESTILOS DE API */
@media screen and ( max-width: 800px){
  header{
    flex-direction: column;
  }
}
@media screen and (max-width: 600px){
  #idfooter{
    font-size: 24px;
  }
}