:root{
    --msj-error-bg:  #b75a5a;
}
#main{
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
    padding: 40px;
    background-color: #fff;
}
#register-form{
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
}
.glow-error{
    filter: drop-shadow(0 0 5px red);
}
.glow-passed{
    filter: drop-shadow(0 0 5px green);
}
.noVisible{
    visibility: hidden;
}
.input{
    width: 100%;
	background: #fff;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
label{
    display: block;
	font-weight: 700;
    min-width: 150px;
	padding: 10px;
	cursor: pointer;
    color: black;
}
#submit{
    grid-column: 1/3;
    width: 30%;
    justify-self: center;
}
.grupo__checkboxes{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto auto;
}
#intereses-error{
    grid-column: 1/3;
}
.grupo__terminos{
    grid-column: 1/3;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
#terminos{
    justify-self: right;
}
#terminos-error{
    grid-column: 1/3;
}
.msj-error{
    display: flex;
    justify-content: center;
    background-color:var(--msj-error-bg);
    color: whitesmoke;
    text-align: center;
    height: 45px;
    line-height: 45px;
    padding-right: 0 15px;
}
.button{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: var(--buttonColor);
    color: var(--textColor);
    min-width: 40%;
    width: 100%;
    height: 45px;
	line-height: 45px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	transition: .1s ease all;
    
}
#mensaje-redireccion{
    display: none;
    background-color: var(--bodyColor);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 960px;
    height: 100vh;
    font-size: 30px;
    color: var(--textColor);
    font-weight: 800;
    z-index: 1000;
}
@media screen and ( max-width: 720px){
    #register-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #submit{
        margin: 0 auto;
    }
    .msj-error{
        margin-top: 10px;
        align-items: center;
        line-height: 24px;
    }
}
@media screen and (max-width: 500px) {
    .msj-error{
        min-height: 45px;
        height: auto;
    }
    
}
@media screen and ( max-width: 420px){
    #submit{
        width: 100%;
    }
    #terminos, #terminos+label{
        grid-column: 1/3;
        justify-self: center;
    }
}