:root{
  --person-bg: #281c6b;
  --person-nameTextColor:#b1c029ec;
  --textColor: #ffffff;
  --headerColor: #21121c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: #242222;
}
/* HEADER DE EMMANUEL */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
  text-transform: uppercase;
  font-weight: bold;

  background-color: var(--headerColor);
  padding: 10px;
}
.navbar {
  display: block;
  line-height: 1.5;
  margin-right: 10px;
}
.nav-link {
  display: inline-block;
  font-size: 20px;
  padding: .5rem 1rem
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 64px;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
nav a {
  padding-right: 10px;
}
.contenedor_nav nav>a:hover {
  transform: translateY(-5px);
  transition: 500ms;
}
.nombre-pagina{
  font-size: 24px;
}
/* FIN HEADER EMMANUEL */
#main{
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  font-size: 4rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
}
#intro{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: center;
}
.lista{
  text-align: left;
}
.persons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
}
.person{
  background-color: var(--person-bg);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
}
.person-name{
  color: var(--person-nameTextColor);
}
.person-img{
  max-width: 100%;
}
.person-social{
  align-self: flex-end;
}
/* footer denis */
#idfooter {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 15px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
  height: 75px;
  margin-top: 0;
}
/*fin footer*/
@media screen and (max-width: 1600px) {
  /* nav {
    padding: 30px 0px;
  } */
}
@media screen and (max-width: 1024px) {
  /* nav {
    padding: 20px 0px;
  } */
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
  /* nav {
    padding: 10px 0px;
  } */
  #idfooter{
    font-size: 24px;
  }
}
@media screen and (max-width: 500px){
  #idfooter>p{
    padding: 0;
  }
  .persons{
    grid-template-columns: 1fr;
  }
}