* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: center;
  /*font-family: sans-serif;*/
  font-family: "Roboto", sans-serif;
  background: #242222;
  margin: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #171717;
  position: fixed;
  width: 100%;
  z-index: 100;
}

/*header {
  position: relative;
  display: flex;
  min-height: 70px;
  font-family: "Roboto", sans-serif;
  background-color: #242222;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
}

.nombre-pagina {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.navbar {
  display: flex;
  margin-right: 10px;
}

.nav-link {
  font-size: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 64px;
  margin-right: 10px;
}

.contenedor_nav {
  align-self: center;
  position: absolute;
  bottom: 1px;
  left: 80%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: rgb(241, 238, 238);
}*/
/* HEADER DE EMMANUEL */
header {
  position: relative;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;

  background-color: var(--headerColor);
  padding: 10px;
}
.navbar {
  display: flex;
  margin-right: 10px;
}
.nav-link {
  display: inline-block;
  font-size: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 64px;
  margin-right: 10px;
}
/* .contenedor_nav {
  position: absolute;
  left: 80%;
  transform: translate(-50%, -50%);
} */
a {
  text-decoration: none;
  color: #ffffff;
}

nav a {
  padding-right: 10px;
}

.contenedor_nav nav>a:hover {
  transform: translateY(-5px);
  transition: 500ms;
}
/* FIN HEADER EMMANUEL */

.title {
  margin: 4rem 0;
  /*font-family: "Krub", sans-serif;
  font-family: "Poppins", sans-serif;*/
  /*margin-bottom: 75px;*/
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(168, 142, 240);
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin-bottom: 40px;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  color: rgb(178, 188, 214);
  padding: 0 100px;
}

.lista {
  font-size: 40px;
  color: rgb(178, 214, 189);
  font-family: "Roboto", sans-serif;
  /*font-family: "Krub", sans-serif;
  font-family: "Poppins", sans-serif;*/
}

.content {
  /*height: 140vh; /*Tamanio*/
  /*font-family: "Krub", sans-serif;
  font-family: "Poppins", sans-serif;*/
  font-family: "Roboto", sans-serif;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  /*Color del box */
  padding: 30px;
  background: #242222;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box {
  /*Contenido del Box*/
  height: 60rem;
  width: 31rem;
  background: #281c6b;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 0.3rem 5rem rgba(16, 85, 16, 0.5);
  margin: 2rem;
}

.box-container .box h3 {
  font-size: 35px;
  color: #b1c029ec;
  margin: 1rem 0;
}

.box-container .box p {
  /*Frase dentro del box */
  padding: 0 30px;

  font-size: 30;
}

.contact {
  padding-top: 20px;
  background: #171717;
  padding-bottom: 0;
}

@media screen and (max-width: 1600px) {
  nav {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}