/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la página */
* {
    font-family: 'Courier New', Courier, monospace;
}


/*----------------------------------------------------------------*/
/* Definimos el contenedor grid                                   */
/*----------------------------------------------------------------*/
.container {
    background-color: black;
    display: grid;

    /* Uso un atajo para definir cuatro filas / seis columnas */
    grid-template-rows: 100px 1fr auto;
    grid-template-columns:  15% 15% auto auto 15% 15%;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas: "header header header header header header"
        "bass brass strings guitar piano sound_fx"
        "pie pie pie pie pie pie";

    /* separamos los items con gap */
    gap: 2%;

    /* Hacemos que el diseño ocupe casi el alto total del navegador */
    /* height: 90vh; */
}

.subsectionmenu-list-item {
    display: flex;
    font-size: .875em;
    font-size: var(--font-size-body);
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    margin: 0 .6em;
    padding: 4px;
    font-size: 16px;
}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/
.header {
    grid-area: header;
    background-color: #21282c;
}

.bass {
    grid-area: bass;
    background-color: #21282c;
}

.brass {
    grid-area: brass;
    background-color: #21282c;
}

.drums {
    grid-area: drums;
    background-color: #21282c;
}
.strings{
    grid-area: strings;
    background-color: #21282c;
}
.guitar {
    grid-area: guitar;
    background-color: #21282c;
}

.piano {
    grid-area: piano;
    background-color: #21282c;
}

.sound_fx {
    grid-area: sound_fx;
    background-color: #21282c;
}

.pie {
    grid-area: pie;
    background-color: #21282c;
}


/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {
    text-align: center;
    font-size: larger;
    padding: 10px;
    color: rgb(239, 240, 245);
    border-radius: 10px;
}

/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada subitem del grid                  */
/*----------------------------------------------------------------*/
.subitem {
    padding: 0px 0px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    max-width: 400px;
    /*  border-radius: 10px; */
}

/*----------------------------------------------------------------*/
.headerimg {
    padding: 0;
    border-radius: 0;
    width: 100%;
    max-width: 400px;
    /*  border-radius: 10px; */
}

/**/
.cell{
    position: relative;
    display: flex;
    flex-direction: column;
}
.player {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 25px;
}

/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .container {
        /* Uso un atajo para definir 4 filas / 2 columna */
        grid-template-rows: 100px auto auto 60px auto;
        grid-template-columns: auto auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header header" "bass brass" "strings guitar" "piano sound_fx " "pie pie";
    }
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 6 filas / 1 columna */
        grid-template: 100px auto auto auto 60px / 100%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header" "bass" "brass" "contenido" "der" "pie";
    }
}