/*ESTILOS GENERALES A TODOS LOS HTML*/
:root {
  --body-bgColor: #21282c;
  --header-bgColor: #121212;
  --footer-bgColor: #121212;
  --body-textColor: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bgColor);
  font-family: "Roboto", sans-serif;
  color: var(--body-textColor)
}

/*HEADER*/
.nav-bar {
  display: block;
  line-height: 1.5;
}

.nav-link {
  display: inline-block;
  font-size: 20px;
  padding: .5rem 1rem
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 64px;
  margin-right: 10px;
}

header {
  position: relative;
  background-color: var(--header-bgColor);
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header a:hover {
  text-decoration: none;
  color: #ffffff;
}

nav a {
  padding-right: 10px;
}

.nav-link:hover {
  transform: translateY(-5px);
  transition: 500ms;
}

.nombre-pagina {
  font-size: 24px;
}

.nav-bar>.nav-link {
  text-decoration: none;
  color: inherit;
}

#menu-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
  text-transform: uppercase;
  font-weight: bold;

  background-color: var(--header-bgColor);
  padding: 10px;
}

#menu-secundario {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  font-size: 24px;
  padding-left: 2rem;
  text-transform: uppercase;
}

#menu-secundario>img {
  width: 64px;
  cursor: pointer;
}

#menu-secundario-links {
  width: 100%;
  justify-content: space-evenly;
}

#desplegar-menu {
  max-width: 32px;
}

.displayNone {
  display: none;
}

.visibHidden {
  visibility: hidden;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/*FIN HEADER*/
/*FOOTER DENIS*/
#idfooter {
  background-color: var(--footer-bgColor);
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
  height: 75px;
  margin-top: 0;
  font-size: 38px;
}

/*FIN FOOTER DENIS*/
/*Panel de usuario*/
#login{
  user-select: none;
}
#hideShowLogin{
  display: none;
}
#hideShowLogin:checked+#user-login{
  display: grid;
}
#user-login{
  position: absolute;
  top: 100%;
  right: 0;
  /*Se muestra cuando el checkbox hideShowLogin esta marcado--ver linea 153*/
  display: none;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 10px;
  padding: 20px;
  min-width: 250px;
  max-width: 250px;
  background-color: var(--header-bgColor);
  border-radius: 2%;
  filter: drop-shadow( 0 0 10px black);
  z-index: 100;
}
#user-login>input,#user-login>label,#user-login>button,#user-login>a{
  grid-column: 1/3;
}
#login>label,#user-login>button{
  display: inline-block;
  font-size: 20px;
  padding: .5rem 1rem;
  background-color: #01bcf3;
  color: white;
  font-weight: bold;
}
#user-login>button{
  border:0 ;
  border-radius: 4px;
}
#user-login a{
  color: #01bcf3;
}
/*BREAKPOINTS*/
@media screen and ( max-width:1024px){
  #menu-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #login{
    justify-self: flex-end;
  }
  .logo{
    grid-column: 1/3;
    justify-self: center;
  }
  .user-panel{
    justify-self: flex-end;
  }
}
@media screen and (max-width: 800px) {
  #menu-principal{
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 1fr;
  }
  #idfooter {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media screen and (max-width: 500px) {
  #menu-principal {
    display: none;
  }

  #menu-secundario {
    display: flex;
    padding: 0 10px;
  }
}

@media screen and (max-width: 420px) {
  #menu-secundario-links {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}