/*ESTILOS GENERALES A TODOS LOS HTML*/
:root{
    --body-bgColor: #21282c;
    --button-bgColor: #009ee2;
    --header-bgColor: #121212;
    --footer-bgColor: #121212;
    --body-textColor: #ffffff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--body-bgColor);
    font-family: "Roboto", sans-serif;
    color: var(--body-textColor)
}
/*HEADER*/
.nav-bar {
    display: block;
    line-height: 1.5;
    margin-right: 10px;
  }
  .nav-link {
    display: inline-block;
    font-size: 20px;
    padding: .5rem 1rem
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 64px;
    margin-right: 10px;
  }
  header{
    background-color: var(--header-bgColor);
  }
  header a {
    text-decoration: none;
    color: #ffffff;
  }
  header a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  nav a {
    padding-right: 10px;
  }
  .contenedor_nav nav>a:hover {
    transform: translateY(-5px);
    transition: 500ms;
  }
  .nombre-pagina{
    font-size: 24px;
  }
  .nav-bar>.nav-link{
    text-decoration: none;
    color: inherit;
  }
#menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70px;
    text-transform: uppercase;
    font-weight: bold;

    background-color: var(--header-bgColor);
    padding: 10px;
}
#menu-secundario{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: inherit;
    font-size: 24px;
    padding-left: 2rem;
    text-transform: uppercase;
}
#menu-secundario>img{
    width: 64px;
    cursor: pointer;
}
#menu-secundario-links{
    display: none;
    width: 100%;
    justify-content: space-evenly;
}
#menu-secundario:hover>#menu-secundario-links{
    display: flex;
}
/*FIN HEADER*/
/*FOOTER DENIS*/
#idfooter {
    background-color: var(--footer-bgColor);
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 75px;
    margin-top: 0;
    font-size: 38px;
}
/*FIN FOOTER DENIS*/
/*BREAKPOINTS*/
@media screen and (max-width: 800px){
    #menu-principal{
        flex-direction: column;
    }
    #idfooter{
        font-size: 24px;
    }
}
@media screen and ( max-width: 720px){
    .nav-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width: 500px) {
    #menu-principal{
        display: none;
    }
    #menu-secundario{
        display: flex;
        padding: 0 10px;
    }
}
@media screen and ( max-width: 420px){
    #menu-secundario:hover>#menu-secundario-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}